<p id="notice"><%= notice %></p>

<p>
  <b>Project number:</b>
  <%= @project.project_number %>
</p>

<p>
  <b>Site:</b>
  <%= @project.site %>
</p>

<p>
  <b>Project name:</b>
  <%= @project.project_name %>
</p>

<p>
  <b>Requestor:</b>
  <%= @project.requestor %>
</p>

<p>
  <b>Customer:</b>
  <%= @project.customer %>
</p>

<p>
  <b>Status:</b>
  <%= @project.status %>
</p>

<p>
  <b>Department:</b>
  <%= @project.department %>
</p>

<p>
  <b>Asset number:</b>
  <%= @project.asset_number %>
</p>

<p>
  <b>Type:</b>
  <%= @project.type %>
</p>

<p>
  <b>Model:</b>
  <%= @project.model %>
</p>

<p>
  <b>Serial number:</b>
  <%= @project.serial_number %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @project.manufacturer %>
</p>

<p>
  <b>Room num:</b>
  <%= @project.room_num %>
</p>

<p>
  <b>Doc num:</b>
  <%= @project.doc_num %>
</p>

<p>
  <b>Doc title:</b>
  <%= @project.doc_title %>
</p>

<p>
  <b>Application:</b>
  <%= @project.application %>
</p>

<p>
  <b>Verion:</b>
  <%= @project.verion %>
</p>

<p>
  <b>Vendor:</b>
  <%= @project.vendor %>
</p>

<p>
  <b>Due date:</b>
  <%= @project.due_date %>
</p>

<p>
  <b>Revalidation:</b>
  <%= @project.revalidation %>
</p>

<p>
  <b>Assigned to:</b>
  <%= @project.assigned_to %>
</p>

<p>
  <b>Assigned on:</b>
  <%= @project.assigned_on %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
